/**** main.css ****/
body {
	/* Typography Declarations */
	color: #222222;
	font-size: 1em;
	font-family: Lato, "Helvetica Neue", sans-serif;
	line-height: 1.75;
}
a {
	/*Typography Declarations*/
	color: #4A3E37;
	font-weight: bold;
	text-decoration: none;
}
ol, ul {
	list-style: none;
	padding-left: 0;
}

#nav {
	height: 3rem;
	background-color: #8A7467;	/*was:#BF9B4F*/
	font-size: 1.5rem;
}
#nav h1 {
	margin-top: 0;
	margin-left: 1rem;
	font-size: 1.5rem;
	float: left;
}
nav {
	float: right;
}
nav ul {
	margin-top: 0;
}
nav li {
	display: inline-block;
}
#nav-main a {
	font-size: 1rem;
	padding-right: 1rem;
	padding-top: 0;
}
nav a:visited,
nav a:hover {
	color: #4A3E37;
}
#content-footer,
#masthead-heading,
#masthead-intro {
	text-align: center;
}
#masthead {
	padding: 6rem 0;
	background-image: url('../images/Green-mtn-selfie.JPG');
	/*background-image: url('https://ununsplash.imgix.net/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?dpr=2&fit=crop&fm=jpg&h=625&q=75&w=950');*/
	background-size: cover;
}
#masthead-intro {
	/* Layout Declarations */
	margin-bottom: 0;
	/* Typography Declarations */
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 2em;
	color: #705F54;	/*was: #7E5237*/
}
#masthead-heading {
	/* Layout Declarations */
	margin-top: -0.4em;
	/* Typography Declarations */
	/*font-family: "Open Sans", "Helvetica Neue", sans-serif;*/
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #4A3E37;	/*was: #3E291B*/
	text-shadow: 0 3px #D6B4A0; /*Was: #BF9B4F*/
}
#content-footer,
#introduction-section,
.content {
	max-width: 38em;
	margin: 2em auto;
	padding: 0 1em;
	clear: both;
}
#introduction-section a {
	color: #7C98D9;
}
#project-section {
	overflow: auto;
	background-color: #C8E0F4; /* CAB790 */
}
#project-section .projects > li {
	width: 31%;
	display: inline-block;
	vertical-align: top;
	padding: 5px 5px;
}
.projects img {
	width: 100%;
	border: 1px solid black;
}
.git-links > li {
	display: inline-block;
}
.git-links > li:first-child {
	padding-left: 0.75rem;
	padding-right: 2rem;
}
.git-links a {
	/*color: #58534A;*/
	font-weight: bold;
	text-decoration: none;
}
#footer {
	background-color: #8A7467;/*Was: #58534A*/
	padding: 4em 0;
}
#content-footer a:visited,
#content-footer a:hover {
	color: #B3D9A9;
}
#content-footer > p {
	/*Typography Declarations*/
	font-weight: 300;
	letter-spacing: 0.05em;
	color: white;
}
#social > li {
	display: inline-block;
	padding-right: 1.5rem;
}
#photoCredit {
	margin-top: 40px;
	font-size: 0.85em;
}
/******** Media Queries ********/
@media only screen and (max-width: 480px) {
  #masthead-heading {
	font-size: 3em;
  }
  #masthead {
	padding: 3em 0;
  }
  #footer {
	padding: 2em 1em;
  }
}
